<br><br><br>
<h1>About Simple Blogs</h1>
<h5>Author: Alfons Fernaldy Last Edited: 27-Nov-19</h5>
<p>
Simple Blogs is a web application running on Ruby on Rails with PostgreSQL as it's backend.<br>
It makes use of Bootstrap particularly the navigation drawer which is repurposed from the starter template<br><br>
<a href="https://github.com/ReduxLX/Simple-Blogs" class="btn btn-success" role="button">Source Code</a>
<a href="https://getbootstrap.com/docs/4.0/examples/starter-template/#" class="btn btn-info" role="button">Bootstrap Template</a>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-warning" role="button">Surprise Me</a>
</p>